@media screen and (max-width: 350px) {
  /* up */

  /* end up */
  /* skill */
  #skill .card p {
    display: none;
  }
  #skill .card h5 {
    font-size: x-small;
    margin: 0 !important;
    padding: 0 !important;
  }
  #skill .row .row .card {
    background-color: #2e3442 !important;
    height: 6rem;
  }
  #skill .row .row .card svg {
    width: 90%;
  }

  #skill .row .row .card {
    padding: 2 !important;
  }
  #skill .row .row .card .row .p {
    padding: 0 !important;
    margin-left: 0.5rem;
  }
  /* end skill */
  /* project */
  #project {
    margin-top: -70px;
    padding-top: 100px;
  }
  /* end project */
}
@media screen and (max-width: 576px) {
}
@media screen and (min-width: 768px) {
  /* up */
  body .up {
    top: 86%;
    left: 90%;
  }
  /* end up */
  /* hero */
  #hero {
    min-height: 100%;
  }
  #hero h3,
  h6,
  p {
    font-size: 1.2em !important;
  }
  /* end hero */
  /* about */
  #about p,
  span {
    font-size: 1em !important;
  }
  /* end about */
  /* skill */
  #skill .row .row .card svg {
    width: 2em;
  }
  #skill .card h5 {
    font-size: large;
    margin: 0 !important;
    padding: 0 !important;
  }
  #skill .card p {
    font-size: 1em !important;
  }
  /* end skill */
}
@media screen and (min-width: 992px) {
  /* hero */
  #hero h3,
  h6,
  p {
    font-size: 1.5em !important;
  }
  /* end hero */
  /* about */
  #about p,
  span {
    font-size: 1.1em !important;
  }
  /* end about */
  /* contant */
  #contant .contant-img {
    display: block !important;
  }
  /* end contant */
}
@media screen and (min-width: 1200px) {
  /* hero */
  #hero h3,
  h6,
  p {
    font-size: 2em;
  }
  /* end hero */
  /* skill */

  #skill img {
    width: 120px !important;
  }
  /* end skill */
  /* contant */

  /* end contant */
}
@media screen and (max-width: 1400px) {
}
